{% extends 'base.html' %}
{% block title %}
{{item.name}}
{% endblock %}

{% block content %}

<body class="text-center">
    <div class="container" style="padding-left: 20%; padding-right: 20%; padding-top: 2%">

        <h1 class="h3 mb-3 font-weight-normal">{{item.name}}</h1>

        <div style="margin-bottom: 8%" class="card text-center bg-dark">
            <div class="card-body" style="border-style: outset; border-width: 2px;">
                <img class="mb-4" src="{{ url_for('static', filename='images/')}}{{ item.image }}" width="150"
                    height="150" />

                <p class="card-text">Current bid: <strong> £{{ item.curr_bid }} </strong></p>
                <p></p>
                <form method="POST" style="color:white; padding-left:20%; padding-right:20%"
                    enctype="multipart/form-data">
                    {{ form.hidden_tag() }}

                    {{ form.new_bid(class="form-control", placeholder="Your Bid") }}
                    <p></p>
                    {{ form.submit(class="btn btn-lg btn-warning") }}
                </form>
            </div>
        </div>


    </div>
</body>
{% endblock %}